@import url(sanitize.css);
h1 {
  font-size: 50px;
  margin: auto;
}
.content {
  background-color: rgba(191, 215, 216, 0.726);
  width: 600px;
  margin: 10px auto;
  border: 1px solid #111010;
  padding: 30px;
  font-family: "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体";
  font-size: 20px;
}
@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
}